
{% block content %}

    {% block body %}
        <p>{{ staticInfo.emailBody }}</p> <br><br>
        <p> <b>Your username :</b> {{ username }} </p>
        <p> <b>Your password :</b> {{ password }} </p>
    {% endblock %}
{% endblock %}