{% block content %}
    {% block body %}
        Thank you for use Reactr
        <p> <b>Your username :</b> {{ username }} </p>
        <p> <b>Your password :</b> {{ password }} </p>
    {% endblock %}
{% endblock %}