{% block content %}
    {% block body %}
        Thank you for using Reactr
        <p> <b>Your username :</b> {{ username }} </p>
        <p> <b>Link to reset password :</b> {{ url }} </p>
    {% endblock %}
{% endblock %}